@import "common/consts.less";

.siderMenu{
  padding-bottom:20px;

  width:180px;

  color:#fff;
}

.siderMenuTitle{
  position:relative;

  box-sizing: border-box;

  margin:0;
  padding-left:10px;

  height:48px;

  font-size:18px;
  font-weight:bold;
  line-height:48px;

  background:linear-gradient(to left,@primaryColorDark,@primaryColorShallow);
}
