@import "common/consts.less";

.siderSubLinkTitle{
  display:block;

  position:relative;
  box-sizing: border-box;

  padding-left:10px;

  height:48px;

  font-size:18px;
  font-weight:bold;
  line-height:48px;

  background:linear-gradient(to left,@secondaryColorDark,@secondaryColorShallow);
}
span.siderSubLinkTitle{
  background:linear-gradient(to left,@primaryColorDark,@primaryColorShallow);
  cursor: not-allowed;
}
