@import "common/consts.less";

.siderSubMenu{
  >ul{
    height:0;
    overflow: hidden;
    transition:height 200ms linear;
  }
}
.siderSubMenuTitle{
  position:relative;
  box-sizing: border-box;

  padding-left:10px;

  height:48px;

  font-size:18px;
  font-weight:bold;
  line-height:48px;

  background:linear-gradient(to left,@secondaryColorDark,@secondaryColorShallow);
  cursor:pointer;
  &:after{
    position:absolute;
    right:20px;
    top:20px;

    display:block;

    width:0;
    height:0;

    border:8px solid transparent;
    border-top-color:#fff;

    transform-origin: center 4px;
    transition:transform 200ms linear;

    content:'';
  }

  &.show:after{
    transform:rotate(-180deg);
  }
}

.siderSubMenuLi{
  background:#6c6c6c;
  a{
    position:relative;

    display:block;

    padding-left:30px;
    height:24px;

    line-height:24px;
    &:before{
      position:absolute;

      top:6px;
      left:15px;

      display:block;

      height:12px;
      width:3px;
      background:#fff;

      content:'';
    }
  }
  a.on{
    &:after{
      background:#e64c18;
    }
  }
}
