.caitiaoPikcer{
  position:absolute;
  left:0;
  top:-315px;

  display:none;
  box-sizing: border-box;
  padding:4px 9px;
  width:100%;
  height:310px;
  border:2px solid #d9d9d9;
  border-radius:5px;
  overflow: hidden;
  background:#fff;

  &.show{
    display:block;
  }
  img{
    float:left;
    display:block;
    cursor:pointer;
    &:nth-child(3n+1){
      margin-right:5px;
    }
    &:nth-child(3n+2){
      margin-right:5px;
    }
  }
}
