@import 'common/consts.less';

.myAlert{
  position:fixed;
  top:-40px;
  z-index:30;

  width:100%;
  height:40px;


}
.alert-child{
  position:absolute;
  left:0;
  right:0;
  bottom:0;

  margin:0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  width:800px;
  height:40px;
  border-radius:15px;

  font-size:16px;

  animation-name:myAlert;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.alert-error{
  border: 2px solid #ffa39e;
  background-color: #fff1f0;
}
.alert-warning{
  border: 2px solid #ffe58f;
  background-color: #fffbe6;
}
.alert-success{
  border: 2px solid #b7eb8f;
  background-color: #f6ffed;
}
.alert-info{
  border: 2px solid #91d5ff;
  background-color: #e6f7ff;
}
