@import "common/consts";

.marketingMaterialList{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;

  margin:0 auto;
  width:@maxWidth;

  .marketingMaterialListPage{
    position:relative;
    margin-top:15px;
    padding-bottom:20px;
    width:720px;
  }

  .siderRecommend{
    margin-top:15px;
    padding-bottom:20px;
  }
}
