@import 'common/consts.less';
@angleBorder:8px;
.selection {
  position: relative;
  cursor: pointer;
  background:#fff;
  z-index:1;
  .selection-selected {
    position:relative;
    padding-top: @headerTextPaddingUD;
    padding-bottom: @headerTextPaddingUD;
    padding-left: @headerTextPaddingSide;
    padding-right: @headerTextPaddingSide;
    min-width:120px;

    color:#fff;
    font-size:16px;

    background:linear-gradient(to right,@primaryColorShallow,@primaryColorDark);
    &:after{
      position:absolute;
      right:@angleBorder;
      top:50%;
      margin-top:- @angleBorder / 2;

      display:block;
      content:'';
      width:0;
      height:0;
      border:@angleBorder solid transparent;
      border-top-color:#fff;
    }
  }
  .selection-box{
    display:none;

    position:absolute;
    width:100%;
    background:#f2f2f2;

    li{
      padding-left:@headerTextPaddingSide;
      padding-top:@headerTextPaddingUD;
      padding-bottom:@headerTextPaddingUD;
      border-bottom:1px solid #d5d5d5;
      &:last-child{
        border-bottom:none;
      }
    }
  }
}
.selection.show{
  .selection-selected {
  }
  .selection-box{
    display:block;
  }
}
