.selection {
  position: relative;
  cursor: pointer;
  background:#fff;
  z-index:1;
  .selection-selected {
  }
  .selection-box{
    display:none;
  }
}
.selection.on{
  .selection-selected {
  }
  .selection-box{
    display:block;
  }
}
