@import "common/consts";

.replay-video-item{
  margin-right: 30px;
  width:240px;
  color:#fff;
  &-a{
    display:block;

    color:#fff;
    &:hover{
      color:#fff;
    }
  }
  &:last-child{
    margin-right: 0;
  }

  .img{
    margin-bottom: 10px;
    display:block;
    width:240px;
    height:135px;
  }
  .sub-title{
    position:relative;

    display:flex;
    justify-content: space-between;

    margin:0 0 5px;
    padding-left:12px;
    font-weight:bold;
    line-height: 20px;

    &:after{
      position:absolute;
      left:0;
      top:0;

      display:block;
      content:"";

      height:20px;
      width:4px;
      background:red;
    }
  }
  .text{
    color:#a3a3a3;
  }
}
