@import "common/consts";

.pagePDFContent{
  position:relative;

  background:#fff;

  .download{
    position:absolute;
    top:15px;
    right:15px;
    z-index: 1;
    padding:5px 10px;
    color:#fff;
    background: @primaryColor;
  }
}
.pagePDFCanvas{
  margin:0 auto;
  display:block;
  width:100%;
}
.pagePDFFoot{

  padding:20px;

  display:flex;
  align-items: center;
  justify-content: space-between;

  .datetime{
    font-weight: bold;
    color:@primaryColor;
  }
}
.pagePDFControl{
  display:flex;
  align-items: center;
  justify-content: space-between;

  width:200px;

  .btn{
    &:hover{
      color:blue;
    }
  }
  .btn.disable{
    color:gray;
    &:hover{
      color:gray;
    }
  }
}
.pdf-load-error{
  padding:10px;
  color:gray;
}
.pdf-load-error-link{
  text-decoration: underline;
  color:blue;
}
