.stock-list{
  margin-top: 15px;
  padding-bottom: 20px;
  width:1080px;
  background:#fff;
  &-form-line{
    display:flex;
    align-items: center;
    justify-content: flex-start;
  }
  &-form-item{
    margin-right:10px;
    width:350px;
  }
}
