@import "common/consts";
@carouselHeight:300px;
@carouselWidth:768px;
.homeCarouselWrap{
  position:relative;

  margin:0 auto;
  width:(170px * 3 + 120px *4);
  //max-width:1440px;
  //min-width: @carouselWidth;
  height:@carouselHeight;
  .next,.prev{
    position:absolute;

    display:flex;
    align-items: center;
    justify-content: center;

    width:24px;
    height:100px;
    color:#fff;
    background:#333333;

    &.disable{
      background:#ddd;
    }
  }
  .next{
    top:(@carouselHeight - 100px) / 2;
    right:0;
  }
  .prev{
    top:(@carouselHeight - 100px) / 2;
    left:0;
  }

  .carousel-img{
    height:300px;
    width:auto;
  }
}
.homeCarousel{
  margin:0 auto;

  width:@carouselWidth;
  height:@carouselHeight;
}
