@import "common/consts";

.home{
  min-width: @maxWidth;
}
.homeMaterialsShot{
  background:#fff;
}
.homeMaterials{
  margin:0 auto;
  padding-top:20px;
  max-width: @maxWidth;
  h4.title{
    margin:0 auto;

    box-sizing: border-box;
    width:180px;
    height:30px;
    border-bottom: 3px solid @primaryColor;

    font-size:18px;
    text-align: center;
  }
  .links{
    display:flex;
    align-items: center;
    justify-content: center;

    padding-top:20px;
    padding-bottom:20px;
  }
}


.videosAndMessages{
  display:flex;
  align-items: center;
  justify-content: space-between;

  margin:0 auto;
  width:100%;
  max-width: 990px;
}

.featuredVideos,.leavingMessage{
  box-sizing: border-box;
  padding:10px;
  height:750px;
  border:1px solid #d9d9d9;
  background:#fff;

  h4.title{
    margin:0;
    font-size:18px;
  }
}

.featuredVideos{
  width:620px;
}


.leavingMessage{
  width:360px;
  .chatBox{
    padding-top: 20px;
  }
  .messageBox{
    height:500px;
    min-height: 500px;
  }
  .items{
    min-height:600px;
  }
}
