@import "common/consts.less";

.sider-featured-video-box{
  width:320px;
}

.sider-featured-video-title{
  box-sizing: border-box;

  margin-bottom: 5px;

  padding-left:10px;

  height:45px;

  font-weight:bold;
  line-height:45px;
  color:#fff;

  background:linear-gradient(to left,@primaryColorDark,@primaryColorShallow);
}

.sider-featured-video-ul{
  position:relative;
  min-height:600px;
}
