@import "common/consts.less";

.siderFeaturedVideo{
  width:320px;
}

.siderFeaturedVideoTitle{
  position:relative;

  box-sizing: border-box;

  margin-bottom: 5px;

  padding-left:10px;

  height:45px;

  font-weight:bold;
  line-height:45px;
  color:#fff;

  background:linear-gradient(to left,@primaryColorDark,@primaryColorShallow);
}
