.header{
  display:flex;
  align-items: center;
  justify-content: space-between;

  margin:0 auto;
  width:100%;
  min-width:1200px;
  height:110px;
  .logo{
    width:150px;
    height:36px;
  }
  .header-right{
    display:flex;
    align-items: center;
  }
  .selections{
    display:flex;
  }
  .header-to-live{
    padding:5px 20px;

    color:#fff;
    font-size:15px;

    background:#000;
  }
}
