@import "common/consts";

html,body,ul,h4,p{
  margin:0;
  padding:0;
}

input{
  border:none;
  box-shadow: none;
  outline: none;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:inherit;
}


/*生成各种不同的宽高*/
.generate-columns(@n, @i: 1) when (@i =< @n) {
  .blank-width-@{i}0 {
    display:block;
    width: @i * 10px;
    height:1px;
  }
  .blank-height-@{i}0 {
    display:block;
    width:1px;
    height: @i * 10px;
  }
  .generate-columns(@n, (@i + 1));
}
.generate-columns(50);

body{
  font-size:14px;
  background:#f2f2f2;
  font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", serif;
}



.btn{
  cursor:pointer;
  &.disable{
    cursor: not-allowed;
  }
}

.disable{
  cursor: not-allowed;
}

.primaryBtn{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:8px 10px;
  box-sizing: border-box;
  min-width:90px;
  text-align: center;
  border-radius:20px;

  color:#fff;
  font-size:20px;
  font-weight:600;
  text-shadow: 4px 4px 3px #000;

  background:@primaryColor;
  .btn;
}


.productMaterialsLayout,.comprehensiveMaterialsLayout{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;

  margin:0 auto;
  width:@maxWidth;
}

.productMaterialsContent,.comprehensiveMaterialsContent{
  margin-top:15px;
  width:720px;
  position:relative;
  padding-bottom:20px;
}

.siderRecommend{
  margin-top:15px;
  padding-bottom:20px;
}

.no-data{
  text-align: center;
}


/*这边是动画*/
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate(0);
  }

  to {
    transform-origin: center;
    transform: rotate(360deg);
  }
}


@keyframes myAlert {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(150%);
  }

  95% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}
