@import 'common/consts.less';

.banner{
  width:100%;
  min-width:@maxWidth;
  height:160px;
  background:url("http://pxzbs.jyzqsz.com/assets/react/bigBanner.jpg") no-repeat center top;
  background-size:1920px 230px;
}
